body {
  padding: 0;
  margin: 0;
  &:after {
    content: 'Please view this demo on a bigger screen';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
  }
  @media (min-width: 820px) {
    &:after {
      content: none;
    }
  }
}

.render-step-slot {
  > h2 {
    font-family: Helvetica, sans-serif;
    border-bottom: 1px solid rgba(black, 0.12);
    padding-bottom: 1rem;
  }
}

.step-render-wrapper {
  display: flex;
}

.step-render {
  display: inline-block;
  border: 1px solid rgba(black, 0.5);
  margin-bottom: 2rem;
}

#app {
  padding: 0 60px;
}

#site-header {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(black, 0.12);
}

.step-explanation {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(black, 0.82);
  line-height: 1.35rem;
  max-width: 700px;
  margin-left: 48px;
}

.code {
  white-space: break-spaces;
  color: white;
  background: #1c1c1c;
}

#intro * {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.82);
  line-height: 1.35rem;
}

#intro code {
  font-family: monospace;
  line-height: initial;
  color: white;
}
