body {
  padding: 0;
  margin: 0;
}

.steps-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.render-step-slot {
  width: 92%;
  @media (min-width: 700px) {
    width: 48%;
  }
  @media (min-width: 900px) {
    width: 32%;
  }
  > h2 {
    font-size: 1rem;
    font-weight: 400;;
    font-family: Helvetica, sans-serif;
    // border-bottom: 1px solid rgba(black, 0.12);
    // padding-bottom: 1rem;
  }
}

.step-render-wrapper {
  display: flex;
}

.step-render {
  display: inline-block;
  border: 1px solid rgba(black, 0.5);
  margin-bottom: 2rem;
}

#app {
  padding: 0 60px;
}

#site-header {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(black, 0.12);
}

.step-explanation {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(black, 0.82);
  line-height: 1.35rem;
  max-width: 700px;
  margin-left: 48px;
}

// .code {
//   white-space: break-spaces;
//   color: white;
//   background: #1c1c1c;
// }

#intro {
  padding-top: 5rem;
  @media (min-width: 860px) {
    max-width: 66vw;
  }
}

#intro * {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.82);
  line-height: 1.35rem;
}

#intro li {
  margin-bottom: 1rem;
}

#intro img {
  width: 100%;
}

// #intro code {
//   font-family: monospace;
//   line-height: initial;
//   color: white;
// }
